body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
}
.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  line-height: 1.17;
}

.header-menu-list {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
.header-navigation a {
  color: #434455;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header-navigation a:hover {
  color: #404bbf;
}
.header-navigation a:focus {
  color: #404bbf;
}
.section-background {
  background: #2e2f42;
}
.h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  line-height: 1.07;
}
.interactive-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: #4d5ae5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.interactive-button:hover,
.interactive-button:focus {
  background-color: #404bbf;
  outline: none;
}
.section-background-ourteam {
  background: #f4f4fd;
}
.container-ourteam {
  background-color: #fff;
}
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  line-height: 1.17;
}
.footer-p {
  color: #f4f4fd;
}
